.presentation-paragraph {
  margin-top: 12px;
  padding: 24px 0 24px 0;
  color: rgba(3, 50, 112, 1);
  width: 100%;
}

div h2 {
  font-family: 'Sriracha', cursive;
  font-size: 3em;
  text-align: center;

}

div p {
  font-family: 'Sriracha', cursive;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
}

.form-wrapper {
  margin: 3em;
  padding: 4em 0 4em 3em;
  border-radius: 40px;
  box-shadow: rgba(3, 50, 112, .5) 10px 10px 16px;
}

.invalid-user-message {
  margin-top: 2rem;
  border-radius: 12px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  text-align: center;
}

.invalid-user-message h2 {
  font-family: "Rock Salt", sans-serif;
  font-size: 2em;
  color: #e4b9fc;
}

.card-wrapper {
  margin: 32px;
  border-radius: 4px;
  box-shadow: rgba(3, 50, 112, .5) 10px 10px 16px;
}

mat-card-title {
  color: black;
}

mat-card-subtitle {
  color: black;
}

mat-card-content {
  font-family: "Sriracha", cursive;
  font-size: 18px;
  color: black;
  line-height: 22px;
}

mat-form-field {
  font-family: "Rock Salt", sans-serif;
}

button {
  font-family: "Rock Salt", sans-serif;
  padding: 12px 64px;
  background-color: lightblue;
}

