<div class="container">

  <app-spinner></app-spinner>

  <div>
    <div class="presentation-paragraph" *ngIf="step == 1">
      <p>Indicações de filmes, séries, músicas, livros, jogos e muito mais.</p>
    </div>

    <form
      class="form-wrapper"
      [formGroup]="userForm"
      (ngSubmit)="validateUser(this.name, this.email)"
      *ngIf="step == 1">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" [(ngModel)]="email">
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        type="submit"
        (click)="validateUser(this.name, this.email)"
        [disabled]="userForm.invalid">Próximo
      </button>
    </form>

    <form class="form-wrapper" [formGroup]="searchForm" *ngIf="step == 2">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Procure algo similar a...</mat-label>
          <input matInput formControlName="search" [(ngModel)]="search" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        type="submit"
        [disabled]="searchForm.invalid"
        (click)="searchSimilar(this.search)">
        Procurar
      </button>
    </form>
  </div>

  <app-trending-box *ngIf="step == 1 || step == 2" [words$]="words$"></app-trending-box>

<!--    <div>-->
<!--      <mat-card class="card-wrapper">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>The Rolling Stone</mat-card-title>-->
<!--          <mat-card-subtitle>Music</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda at, consequuntur doloremque expedita, facilis impedit ipsa ipsum iste iusto molestias, necessitatibus nemo officia pariatur quas quod vitae. Amet animi aperiam cupiditate deserunt dignissimos, enim error et ex fugiat illum iste itaque iure laudantium libero magnam magni maiores natus officiis provident qui ratione recusandae reiciendis rem soluta tempora ut veniam voluptate. Ab accusamus aspernatur, autem deserunt dignissimos doloribus ea earum facilis illo in iste iure iusto maiores minus molestias, numquam quidem quis quisquam ratione rem reprehenderit sapiente sed sit ut vel vitae voluptatem. Assumenda consequuntur culpa earum, eius ullam ut.</mat-card-content>-->
<!--      </mat-card>-->
<!--      <mat-card class="card-wrapper">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>The Rolling Stone</mat-card-title>-->
<!--          <mat-card-subtitle>Music</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda at, consequuntur doloremque expedita, facilis impedit ipsa ipsum iste iusto molestias, necessitatibus nemo officia pariatur quas quod vitae. Amet animi aperiam cupiditate deserunt dignissimos, enim error et ex fugiat illum iste itaque iure laudantium libero magnam magni maiores natus officiis provident qui ratione recusandae reiciendis rem soluta tempora ut veniam voluptate. Ab accusamus aspernatur, autem deserunt dignissimos doloribus ea earum facilis illo in iste iure iusto maiores minus molestias, numquam quidem quis quisquam ratione rem reprehenderit sapiente sed sit ut vel vitae voluptatem. Assumenda consequuntur culpa earum, eius ullam ut.</mat-card-content>-->
<!--      </mat-card>-->
<!--    </div>-->

  <div *ngIf="step == 3">
    <mat-card class="card-wrapper" *ngFor="let result of results">
      <mat-card-header>
        <mat-card-title>{{result.Name}}</mat-card-title>
        <mat-card-subtitle>{{result.Type}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{result.wTeaser}}</mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="invalidUser" class="invalid-user-message">
    <h2>{{invalidUser}}</h2>
    <button mat-raised-button (click)="tryAgain()">Tentar de novo</button>
  </div>

</div>
