<div class="container">

  <div class="title">
    <h2>O que estão pesquisando:</h2>
    <mat-divider></mat-divider>
  </div>
  <div class="box">
    <span *ngFor="let word of words$ | async">{{ word }}, </span>
  </div>

</div>
