.container {

  margin: 3em 0.5em 3em 0.5em;
  padding: 0.5em;
  border-radius: 12px;
  box-shadow: rgba(3, 50, 112, .5) 10px 10px 16px;
}

.title {
  margin: 3em;
}

h2  {
  font-family: "Rock Salt", sans-serif;
  font-size: 2.5em;
}

.box {
  margin: 0;
  padding: 0;
}

span {
  font-family: "Sriracha", cursive;
  font-size: 2em;
  line-height: 1.25em;

}
