<form
  class="form-wrapper"
  [formGroup]="userForm"
  (ngSubmit)="validateUser(this.name, this.email)"
  *ngIf="step == 1">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" [(ngModel)]="name" >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" [(ngModel)]="email">
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    type="submit"
    (click)="validateUser(this.name, this.email)"
    [disabled]="userForm.invalid">Próximo
  </button>
</form>
